body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #dcdcdc;
}

model-viewer {
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 30px;
  bottom: 30px;
}

.general-controls {
  text-align: right;
}

.vertical-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modelerviewer {
  height: 100vh;
}

.fullscreen {
  cursor: pointer;
}

#fullscreen {
  background: #dcdcdc;
}

@media (max-width: 992px) {
  .modelerviewer {
    height: calc(100vh - 148px);
  }
}
